@import 'sass/_prepend';

* { box-sizing: border-box; }

body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: $gray-dark;

	@media (min-width: 768px){
		//padding: 3rem;
		font-size: 16px;
	}
}

#page {
	@media (min-width: 768px){
		display: grid;
		grid-gap: 0;
		grid-template-columns: minmax(200px,20vw) auto;
		grid-template-rows: minmax(100vh,auto);

		grid-template-areas: 'header content';

		justify-items: stretch;
		align-items: stretch;
	}
}

@import 'sass/_header';
@import 'sass/_filters';

.content-area {
	grid-area: content;
	position: relative;
}

.content-block {
	max-width: 80%;
	margin: 3rem auto;
}

.content-header {
	h1 {
		font-size: 3em;
		color: $red;
	}
}

.message {
	text-align: center;
	font-weight: bold;
	font-size: rem(21);
}

@import 'sass/_chart';
@import 'sass/_races';
@import 'sass/_standings';
@import 'sass/_loading';
@import 'sass/_site-nav';


.hide {
	display: none;
}



// loading transitions


.loading-transition {
	transition: 1s opacity;
	opacity: 1;
}

.is-loading {
	opacity: 0;
}


// errors

.error {
	margin: 2rem;
	background: $red;
	color: white;
	font-size: rem(32);
	padding: 1rem;
	display: inline-block;

	a {
		color: yellow;
	}
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100vh;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}