@import 'sass/_prepend';


body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: $gray-dark;

	@media (min-width: 768px){
		//padding: 3rem;
		font-size: 16px;
	}
}

#page {
	padding: 1rem;


	@media (min-width: 768px){
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: minmax(0,auto) minmax(auto,1000px) minmax(0,auto);

		grid-template-areas:
		'header header header'
		'. tabs .'
		'. content .';

		justify-items: stretch;
	}
}

@import 'sass/_header';
@import 'sass/_filters';

.content-area {
	grid-area: content;
}

.message {
	text-align: center;
	font-weight: bold;
	font-size: rem(21);
}

@import 'sass/_chart';
@import 'sass/_races';
@import 'sass/_standings';
@import 'sass/_loading';
@import 'sass/_tabs';


.hide {
	display: none;
}



// loading transitions


.loading-transition {
	transition: 1s opacity;
	opacity: 1;
}

.is-loading {
	opacity: 0;
}


// errors

.error {
	margin: 2rem;
	background: $red;
	color: white;
	font-size: rem(32);
	padding: 1rem;
	display: inline-block;

	a {
		color: yellow;
	}
}